* {
  box-sizing: border-box;
}

body { 
  margin: 0;
}

/*Form Section*/
.form-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
  background-color: blue;
}
.form-container a{
  text-decoration: none;
}
.form-container form{
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  width: 500px;
}
.form-container form h3{
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: blue;
}
.form-container form .form-space{
  margin-top: 15px;
}
.form-container form .column {
  float: left;
  width: 100%;
  padding: 5px;
}
.form-container form .row:after {
  content: "";
  display: table;
  clear: both;
}
.form-container form input,
.form-container form select{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid blue;
  margin: 5px 0px 0px -8px;
}
.form-container form select option{
  background-color: #fff;
}
.form-container form .form-btn{
  background-color: darkblue;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  outline: none;
  border: 1px solid darkblue;
}
.form-container form .form-btn:hover{
  background-color: blue;
  border: 1px solid blue;
  color: #fff;
}
.form-container form label{
	display: flex;
  margin-top: 10px;
}