* {
  box-sizing: border-box;
}
body { 
  margin: 0;
}
a{
  text-decoration: none !important;
}
.dashboard,.berth,.division,.station,.reserve,.timetable,.trainclass,.trains{
  height: 100vh;
}
.headingDash{
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.headingDash a{
  text-decoration: none;
  color: #000;
  font-style: italic;
}
.nav li a{color:white;
      margin-top:5px;
}
.nav li a.shortname{
  background-color: white;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px 0px;
    padding: 8px 0px 0px 14px;
}
.sidebar{
    height: 92.4vh !important;
    margin-left: -15px;
    height: 92.4vh;
    margin-left: -15px;
    min-height: 100%;
    position: fixed !important;
    left: 0px;
    width: 16%;
}
.sidebar .sidebar-list{
    position: absolute;
    top: 1%;
    left: 40px;
}
.sidebar .navbar-nav li a{
  color: white;
  font-style: italic;
  padding: 10px;
  border-radius: 20px;
  background: #7e2525;
  margin-bottom: 5px;
  width: 200px;
  margin-left: -17px;
  text-align: center;
}
.sidebar .navbar-nav li a:hover{
  border: 1px solid #ffc107;
  background: #848484 !important;
}
.sidebar-list i {
  font-size: 15px;
}

h1,h2,h4,p{
  font-style: italic;
}

/* login form */
.form-container{
  font-style: italic;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
/* background-color: #7e2525; */
background-image: url(../images/train14.jpg);
background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.form-container a{
text-decoration: none;
}
.form-container form{
  padding: 20px;
  border-radius: 40px;
  background-color: #eee;
  text-align: center;
  width: 600px;
  border: 5px solid #848484;
}

.form-container form h3{
  font-size: 40px;
  color: #7e2525;
  margin: 20px;
}
.form-container form .form-space{
margin-top: 15px;
}
.form-container form .column {
float: left;
width: 100%;
padding: 5px;
}
.form-container form .row:after {
content: "";
display: table;
clear: both;
}
.form-container form input,
.form-container form select{
  font-style: italic;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid #7e2525;
  margin: 5px 0px 0px -8px;
}
.form-container form select option{
background-color: #fff;
}
.form-container form .form-btn{
  font-style: italic;
  background-color: #645CBB;
  border: 2px solid #3e2424;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  padding: 15px;
  margin-top: 10px;
  outline: none;
  width: 100%;
}
.form-container form .form-btn:hover{
  background-color: #3e2424;
  border: 2px solid #848484;
}
.form-container form label{
  display: flex;
  margin-top: 10px;
}

/*table*/
.tableList table{
  margin: 25px;
  font-size: 15px;
  min-width: 500px;
  border-radius: 5px;
}
.tableList thead tr{
  background-color: #343a40;
  color: white;
  font-weight: bold;
}
.tableList table th, 
.tableList table td{
  padding: 12px 15px;
}
.tableList table td,th{
border: 1px solid #dee2e6;
}
.tableList table td i{
  cursor: pointer;
}
.tableList table td .delete{
  color: red;
}
.tableList table tbody tr td{
  text-align: center;
  background-color: white;
}

/*tableslists from server*/
.users,.passenger,.admins,.trains,.stations,.division,.timetable,.ticket{
  padding: 15px;
  color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  height: 150px;
  border-left: 15px solid #848484;
  border-right: 15px solid #848484;
  border-top: 10px solid #848484;
  background-color: #3e2424;
}
.col a{
  text-decoration: none;
  color: #fff;
}
.users:hover,
.passenger:hover,
.admins:hover,
.division:hover,
.trains:hover,
.stations:hover,
.timetable:hover,
.ticket:hover
{
  border-left: 15px solid #3e2424;
  border-right: 15px solid #3e2424;
  border-top: 10px solid #3e2424;
  background-color: #7e2525;
}

